body {
	color: #222;
	font: 14px Arial;
	margin: 0;
}
body a {
	color: #3D5C9D;
	text-decoration: none;
	margin-right: 40px;
}
.content{
	width:90%;
	margin-left:5%;
	margin-right:5%;
}
.form_row{
	margin-top:15px;
}
.navigation_container {
	text-align: center;
	background-color: #6F84FF;
	border-bottom: 1px solid green;
	border-top: 1px solid green;
}
.navigation_container a {
	color: white;
}
.estimatorTable{
	border-collapse:collapse;
}
.estimatorTable td{
	min-width:25px;
}
